@import "../../../theme/variables.scss";

#container {
  @extend %riple-contaniner;
  .card-container {
    background-color: #5938C8;
    height: 407px;
    width: 358px;
    color: white;
    border-radius: 45px;
    .swiper-slide {
      flex-direction: column;
    }
  }
  .button-container {
    width: 70%;
  }
}
// .swiper-pagination-bullet-active {
//   width: 20px;
//   border-radius: 5px;
// }
